
.blocker {
	z-index: 999999;
}

.close-modal{
	display: none !important;
}

#appointment-service, .lb-input {
	height: 40px !important;
}

.lb-textarea, .lb-select, .lb-input{
	padding: .375rem .75rem !important; 
}

.lb-submit {
	box-shadow: 0px 8px 16px 0px rgba(140, 140, 140, 0.157);
    background-color: var(--color-purple);
    text-transform: uppercase;
    height: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    color: var(--color-second);
    border: 0;
    border-radius: 25px;
	/* padding: 15px 46px; */
	padding: 15px;
    cursor: pointer;
    /* transition: all .4s ease; */
}

.lb-submit:hover {
	background-color: var(--color-second);
	color: var(--color-white);
}

.bk_modal{
	margin-bottom: 0;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 1;
}

.bk-title{
	color: var(--color-second) !important;
	text-transform: uppercase;
}

#booking_modal .input-group {
	margin-bottom: 20px;
}

@media (min-width: 992px) and (max-width: 1199px){
  
}

@media (max-width: 991px) {

	.bk_modal{
		bottom: 160px;
		right: 20px;
	}

}

@media (max-width: 767px) {
	#booking_modal .input-group {
		margin-bottom: 10px;
	}

	#booking_modal .massage-gropu {
		margin: 0 0 20px;
	}

	#booking_modal .form-group {
		margin: 0 0 10px !important;
	}

	.bk_modal{
		bottom: 130px;
		font-size: 12px;
		width: 50px;
	}

	.bk-title{
		font-size: 1.3em !important;
		margin: 0 0 10px !important;
	}

	#appointment-comment{
		height: 100px;
	}

	.appointment-time {
		margin-bottom: 0 !important;
	}

	.bk_modal span {
		display: none;
	}

	.bk_modal img {
		margin-right: 0;
	}

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {
	
}