#lb-mobile-header {
	display: none;
}

#lb-header .lb-logo:before{
	content: none;
}

#lb-header .lb-logo img{
	width: 110px;
}

#lb-header .lb-logo{
	box-shadow: none;
}


@media (min-width: 992px) and (max-width: 1199px){
  
}

@media (max-width: 991px) {
	#lb-header {
		display: none;
	}

	#lb-mobile-header {
		display: inherit;
	}

	#lb-mobile-header nav {
		background-color: var(--color-purple) !important;
	}

	#lb-mobile-header nav button {
		border: inherit;
	}

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {
	
}