#lb-mobile-header {
	display: none;
}

#lb-mobile-header nav{
	padding: 0;
}

#lb-mobile-header .lb-logo img{
	width: 110px;
	padding: 10px;
}

#lb-mobile-header .lb-navbar-collapse{
	background-color: var(--color-second);
	padding: 10px;
}

#lb-mobile-header .lb-navbar-collapse li a{
	color: var(--color-white);
}

/* ==== */

#lb-header .lb-logo:before{
	content: none;
}

#lb-header .lb-logo img{
	width: 110px;
}

#lb-header .lb-logo{
	box-shadow: none;
}

/* ==== */

#lb-nav-bottom {
	display: none;
}

/* ==== */

.lb-icon {
	width: 25px;
    margin-right: 10px;
}

.lb-slogan {
	font-family: 'UVNHuongQue_N';
	font-size: 30px;
	padding: 10px 10px 0 0;
	color: var(--color-second);
}

#theme-switcher {
	display: none;
}

@media (min-width: 992px) and (max-width: 1199px){
  
}

@media (max-width: 991px) {
	#lb-header {
		display: none;
	}

	#lb-mobile-header {
		display: inherit;
		position: fixed;
		top: 0;
		z-index: 3;
	}

	#lb-mobile-header nav {
		background-color: var(--color-purple) !important;
	}

	#lb-mobile-header nav button {
		border: inherit;
	}

	/* === */
	#lb-nav-bottom {
		width: 100%;
		display: block;
		position: fixed;
		bottom: 0;
		z-index: 2;
		background-color: var(--color-white);
	}

	#lb-nav-bottom .contact {
		padding: 20px;
	}
	/* === */

}

@media (max-width: 767px) {

	#lb-mobile-header .lb-slogan {
		font-size: 18px;
	}

	#lb-nav-bottom .contact .contact-ico {
		width: 40px;
	}

}

@media (max-width: 480px) {

	#lb-mobile-header .lb-slogan .lb-branch-name {
		display: none;
	}

	#lb-mobile-header .lb-logo img{
		width: 80px;
	}

	#lb-mobile-header .lb-slogan {
		font-size: 16px;
	}

	#lb-nav-bottom .contact .contact-ico {
		width: 30px;
	}

}

@media (max-width: 320px) {
	
}