
.position{
	position: relative;
}

.position-right, .position-left {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: red;
	top: 25%;
	right: 30px;
	opacity: 0.3;
	padding: 10px;
}

.position-right p, .position-left p {
	margin: 0;
	color: var(--color-white);
}

.position-left{
	left: 30px;
}

.detail_right, .detail_left {
	position: absolute;
    width: 400px;
    height: 400px;
	background-color: red;
	opacity: 0.3;
	right: 50px;
	top: 30px;
}

.detail_left{
	left: 50px;
}

@media (min-width: 992px) and (max-width: 1199px){
  
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {
	
}