
#lb-slider .beautypress-welcome-container h2 {
	font-family: 'UVNHuongQue_N';
	text-transform: uppercase;
	margin-bottom: 20px;
}
#lb-slider .beautypress-welcome-container h3 {
	line-height: 1.2;
}

@media (min-width: 992px) and (max-width: 1199px){
  
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {
	#lb-slider .beautypress-welcome-wraper {
		width: 60%;
	}

	#lb-slider .content-right .beautypress-welcome-wraper {
		position: absolute;
		right: 0;
		top: 17%;
	}
	#lb-slider .beautypress-welcome-container {
		height: 300px !important;
	}
	#lb-slider .beautypress-welcome-container h2 {
		font-size: 1.5em;
	}
	#lb-slider .beautypress-welcome-container h3 {
		font-size: 1.5em;
		line-height: 1.5;
	}

}

@media (max-width: 320px) {
	
}